@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik:ital,wght@0,400;1,300&display=swap');

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

html{
  scroll-behavior: smooth;
}

.chatListDark::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(0, 0, 0);
}
 
.chatListDark::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.chatListDark::-webkit-scrollbar-thumb {
  /* background-color: rgb(148, 144, 144); */
  background-color: #f0f785;
  border-radius: 10px;
  /* outline: 1px solid slategrey; */
}

.chatListLight::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(240, 240, 240);
}
 
.chatListLight::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.chatListLight::-webkit-scrollbar-thumb {
  /* background-color: rgb(148, 144, 144); */
  background-color: rgb(108, 108, 108);
  border-radius: 10px;
  /* outline: 1px solid slategrey; */
}

.App{
  font-family: Rubik, sans-serif,monospace;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation: 
    typing 1.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}